@tailwind base;
@tailwind components;
@tailwind utilities;
body {
     margin: 0; 
     padding: 0;
     max-width: 100vw; 
     }


     .mygrid{
          display: grid;
          grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
     }